{% extends 'templates/app.twig' %}
{% block content %}
    {% include 'templates/partials/nav.twig' %}
      <div class="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumb -->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{ path_for('dashboard') }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Log a Journey</li>
          </ol>
          <!-- Create Journey Card -->
          <div class="card mb-3 card-register-user mx-auto">
            <div class="card-header">
              <i class="fa fa-fw fa-table mx-2"></i>Log a New Journey
            </div>
            <div class="card-body">
              <div {{ errors ? '' : 'hidden' }} class="alert alert-danger">
                {{ errors | first | first }}
              </div>
              <div {{ success ? '' : 'hidden' }} class="alert alert-success">
                {{ success }}
              </div>

              <form action="" method="POST" autocomplete="off">
                <div class="input-group mb-3">
                  <input id="source" type="text" class="form-control" name="source" placeholder="Journey Source" value=""/>
                </div>
                <div class="input-group mb-3">
                  <input id="destination" type="text" class="form-control" name="destination" placeholder="Journey Destination" value=""/>
                </div>
                <div class="input-group mb-3">
                  <input id="haulier" type="text" class="form-control" name="haulier" placeholder="Haulier" value=""/>
                </div>
                <div class="input-group mb-3">
                  <input id="datetime" type="text" class="form-control" name="datetime" placeholder="Journey Time" value=""/>
                </div>
                <button class="btn btn-danger text-white mx-auto" type="reset">Cancel</button>
                <button class="btn btn-success  text-white mx-auto" type="submit">Create</button>
                {{ csrf.field | raw }}
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
