{% extends 'templates/app.twig' %}
{% block content %}
  {% include 'templates/partials/nav.twig' %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ path_for('dashboard') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
      <div class="jumbotron">
        <h1 class="display-5">Welcome, {{ auth.user.name | split(' ')[0] }}!</h1>
        <p class="lead">This system is designed to keep record of registered hauliers and their journeys. Please note that this software is still in development, therefore you may experience some issues or unexpected behaviour, if you encounter any of these issues please report them below.</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
          <a class="btn btn-primary" href="#" role="button">Report a Bug</a>
          <a class="btn btn-primary mx-3" href="#" role="button">Changelog</a>
          <a class="btn btn-primary" href="#" role="button">Feedback</a>
        </p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-user mx-2"></i>Registered Users
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Class</th>
                  <th>Date Registered</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Class</th>
                  <th>Date Registered</th>
                </tr>
              </tfoot>
              <tbody>
                {% for user in auth.users %}
                  <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.admin ? 'Admin' : 'User' }}</td>
                    <td>{{ user.created_at }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
