{% extends 'templates/app.twig' %}
{% block content %}
  {% include 'templates/partials/nav.twig' %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ path_for('dashboard') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Manage Hauliers</li>
      </ol>
      <!-- Register a Haulier -->
      <div class="card mb-3 card-register-haulier">
        <div class="card-header" data-toggle="collapse" data-target="#register-haulier">
          <i class="fa fa-user-plus mx-2"></i>Register New Haulier<i class="fa fa-sort-down pull-right"></i>
        </div>
        <div class="collapse show" id="register-haulier">
          <div class="card-body">
            <div {{ errors ? '' : 'hidden' }} class="alert alert-danger">
              {{ errors | first | first }}
            </div>
            <div {{ success ? '' : 'hidden' }} class="alert alert-success">
              {{ success }}
            </div>
            <form action="{{ path_for('hauliers.add') }}" method="POST" autocomplete="off">
              <div class="input-group mb-3">
                <input id="short_name" type="text" class="form-control {{ errors.short_name ? 'form-error' : '' }}" name="short_name" placeholder="Haulier Abbreviation (e.g 'ERPH')" value="">
              </div>
              <div class="input-group mb-3">
                <input id="name" type="text" class="form-control {{ errors.name ? 'form-error' : '' }}" name="name" placeholder="Haulier Name" value="">
              </div>
              <button class="btn btn-success btn-block text-white btn-register-haulier mx-auto" type="submit">Register</button>
              {{ csrf.field | raw }}
            </form>
          </div>
        </div>
      </div>
      <!-- Hauliers Table -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-address-card mx-2"></i>Registered Hauliers
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
              Loading Hauliers
            </div>
            <table class="table table-bordered" id="hauliersTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Date Registered</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Date Registered</th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
              <tbody>
                {% for haulier in haulier.all %}
                  <tr>
                    <td>{{ haulier.short_name }}</td>
                    <td>{{ haulier.name }}</td>
                    <td>{{ haulier.created_at }}</td>
                    <td class="text-center"><a class="btn btn-primary btn-sm text-white" href="{{ path_for('journeys.view') }}?search={{ haulier.short_name }}">View Journeys</a></td>
                    <td class="text-center">
                      {% if auth.user.admin %}
                        <button class="btn-remove" type="button" data-toggle="modal" rel="tooltip" data-id="{{ haulier.id }}" data-name="{{ haulier.name }}" data-action-path="{{ path_for('hauliers.remove') }}" data-target="#confirmDeleteModal" data-placement="right" title="Delete User" onclick="populateConfirmDeleteModal(this)"><i class="fa fa-trash text-danger"></i></button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
