{% extends 'templates/app.twig' %}

{% block content %}
  <div class="container text-center mt-5">
    <i class="fa fa-5x fa-truck" style="color: #0069d9;"></i>
    <h3 class="mt-4 text-muted">Haulage Management System</h3>
  </div>
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header text-white text-center bg-dark">User Login</div>
      <div class="card-body">
      <div {{ authError ? '' : 'hidden' }} class="alert alert-danger">
        {{ authError }}
      </div>
        <form action="{{ path_for('auth.signin') }}" method="POST" autocomplete="off">
          <div class="input-group mb-3 {{ authError ? 'form-error' : ''}}">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user text-muted"></i></span>
            </div>
            <input id="username" type="text" class="form-control" name="username" placeholder="Username or Email" value="{{ old.username }}">
          </div>
          <div class="input-group mb-3 {{ authError ? 'form-error' : ''}}">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-lock text-muted"></i></span>
            </div>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password" value="">
          </div>
          <button class="btn btn-primary btn-block text-white" type="submit">Login</button>

          {{ csrf.field | raw }}
        </form>
      </div>
    </div>
  </div>
  <div class="container footnote mt-1 mx-auto text-muted">
    <div class="row">
      <div class="col text-left">&copy; Rhys Evans 2018</div>
      <div class="col text-right">Version: {{ meta.version }}</div>
    </div>
  </div>
{% endblock %}
