{% extends 'templates/app.twig' %}
{% block content %}
  {% include 'templates/partials/nav.twig' %}
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ path_for('dashboard') }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Admin Tools</li>
          <li class="breadcrumb-item active">Register a New User</li>
        </ol>
        <!-- Register User Card -->
        <div class="card mb-3 card-register-user mx-auto">
          <div class="card-header">
            <i class="fa fa-user-plus mx-2"></i>Register New User
          </div>
          <div class="card-body">
            <div {{ errors ? '' : 'hidden' }} class="alert alert-danger">
              {{ errors | first | first }}
            </div>
            <div {{ success ? '' : 'hidden' }} class="alert alert-success">
              {{ success }}
            </div>
            <form action="{{ path_for('admin.user.add') }}" method="POST" autocomplete="off">
              <div class="input-group mb-3">
                <input id="name" type="text" class="form-control {{ errors.name ? 'form-error' : '' }}" name="name" placeholder="Full Name *" value="{{ old.name }}"/>
              </div>
              <div class="input-group mb-3">
                <input id="email" type="text" class="form-control {{ errors.email ? 'form-error' : '' }}" name="email" placeholder="Email *" value="{{ old.email }}"/>
              </div>
              <div class="input-group mb-3">
                <input id="username" type="text" class="form-control {{ errors.username ? 'form-error' : '' }}" name="username" placeholder="Username *" value="{{ old.username }}"/>
              </div>
              <div class="input-group mb-3">
                <input id="password" type="password" class="form-control {{ errors.password ? 'form-error' : '' }}" name="password" placeholder="Password *" value=""/>
              </div>
              <div class="input-group mb-3">
                <input id="password-confirm" type="password" class="form-control {{ errors.password ? 'form-error' : '' }}" name="password-confirm" placeholder="Re-type Password *" value=""/>
              </div>
              <button class="btn btn-danger text-white mx-auto" type="reset">Cancel</button>
              <button class="btn btn-success  text-white mx-auto" type="submit">Register</button>
              {{ csrf.field | raw }}
            </form>
          </div>
        </div>
        <!-- Register Admin Card -->
        <div class="card mb-3 card-register-user mx-auto">
          <div class="card-header" data-toggle="collapse" data-target="#register-admin">
            <i class="fa fa-info-circle mx-2"></i>Need to register a new admin?<i class="fa fa-sort-down pull-right"></i>
          </div>
          <div class="collapse" id="register-admin">
            <div class="card-body">
              <p>To register a new Admin, submit a feedback form by clicking the button below. Be sure to select 'Admin Account Request' as feedback type and provide the following information in your form:</p>
              <p>Username</p>
              <p>Full Name</p>
              <p>Email</p>

              <div class="mx-auto text-center">
                <a class="btn btn-primary" href="{{ path_for('feedback') }}">Feedback Form</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
